<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>回答</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <style type="text/css">
        body{
            background-color:#F6F6F6;
        }
    </style>
</head>
<body>
<!--<script src="/js/vue.main.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>

<!--<textarea class="form-control" rows="3" name=textarea></textarea>-->

<nav class="navbar navbar-expand-sm bg-light navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/" style="margin-left: 90px">问答</a>
    <a class="nav-link" href="/editquestion">提问</a>
    <form action="/query" style="margin-left: 400px" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="搜索相关问题" aria-label="Search" name="word">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="nav-link "  th:if="${login}" th:href="@{/user/{userid}(userid=${user_id})}" th:text="${user_name}">用户名</a>
    <a class="nav-link " th:if="${login}" href="/out" >退出登陆</a>
    <a class="nav-link " th:if="!${login}" href="/login.html">登陆</a>
    <a class="nav-link"   th:if="!${login}"href="/register.html">注册</a>
</nav>
<div class="container">

    <div class="card" style="margin-bottom: 10px; margin-top: 20px">
        <div class="card-body">
            <p class="card-text" th:utext="${answer.answer_content}">Some example text. Some example text.</p>
        </div>
    </div>
</div>

</body>
</html>